<form action="/checkout" method="post">
    <div>
        <label for="item">Item</label>
        <input type="text" name="item">
    </div>
    <div>
        <input type="submit" name="submit" value="submit">
    </div>

</form>
